<!DOCTYPE html>
<html>
<head>
    <title>{$page_title|default:"Tytuł"}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link href="{$conf->app_url}/assets/images/favicon.png" rel="shortcut icon">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- CSS -->
    <link href="{$conf->app_url}/assets/css/styles.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<!-- NAV -->
<nav class="navbar navbar-expand-sm sticky-top" id="line"></nav>
<nav class="navbar navbar-expand-sm sticky-top" id="mainmenu">
    <div class="container-fluid">
        <a class="navbar-brand ms-auto" href="{$conf->app_root}">
            <img alt="logo" height="125" src="{$conf->app_url}/assets/images/logo.png" width="200">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar"
                aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="n_bar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{$conf->app_root}">Strona główna</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Oferta
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{$conf->app_root}/bouquet">Bukiety</a></li>
                        <li><a class="dropdown-item" href="{$conf->app_root}/flowers">Skomponuj swój własny bukiet</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    {if $conf->roles == '0'}
                    <a class="nav-link" href="{$conf->app_root}/order">Zamów kwiaty</a>
                    {elseif $conf->roles == '1'}
                    <a class="nav-link" href="{$conf->app_root}/edit">Edytuj bazę danych</a>
                    {else}
                    <a class="nav-link" href="{$conf->app_root}/loginShow">Zamów kwiaty</a>
                    {/if}
                </li>
            </ul>
            <span class="navbar-text">
        <i class="fa fa-phone"></i> +48 724 822 911
      </span>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<main id="main">
    {block name=content} Treść {/block}
</main>

<!-- FOOTER -->
<footer class="mt-auto">
    <footer id="aboutusfooter">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5><b>INFORMACJE</b></h5>
                    <p><a href="{$conf->app_root}" id="flinks">Strona główna</a></p>
                    <p><a href="{$conf->app_root}/bouquet" id="flinks">Bukiety</a></p>
                    <p><a href="{$conf->app_root}/flowers" id="flinks">Skomponuj swój własny bukiet</a></p>
                    <p><a href="{$conf->app_root}/loginShow" id="flinks">Zamów kwiaty</a></p>
                </div>
                <div class="col-sm">
                    <h5><b>GODZINY OTWARCIA</b></h5>
                    <p><b>Poniedziałek – piątek:</b> 9:00-20:00</p>
                    <p><b>Sobota:</b> 9:00-18:00</p>
                    <p><b>Niedziela:</b> 9:00-16:00</p>
                </div>
                <div class="col-sm">
                    <h5><b>KWIACIARNIA LAWENDOWE POLE</b></h5>
                    <p>Wyszyńskiego 71</p>
                    <p>42-600 Tarnowskie Góry</p>
                    <p>+48 724 822 911</p>
                    <p>lawendowepole@gmail.com</p>
                </div>
            </div>
        </div>
</footer>
    <footer class="footer" id="creditsfooter">
        <p class="text-end">Design: Aleksandra Kopacz</p>
    </footer>
</footer>
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>
