/* Variables */
$bgcolor: white;
$tangopink: #EA7186;
$oyellow: #F2C76E;
$toolbox: #7A77B9;
$lavender: #F7E7FB;
$quartz: #E0C2F2;
$text: #565158;
$texthover: #312E32;

/* Body */
body {
  background-color: $bgcolor;
  font-family: 'Questrial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main menu */
#mainmenu {
  background-color: $lavender;
  box-shadow: 0 8px 6px -6px rgba(215, 215, 215, 0.68);
}

#line {
  background-color: $quartz;
}

#mainimage {
  padding-bottom: 2em;
}

#imagecredits {
  background-color: $quartz;
}

.dropdown-menu {
  background-color: $lavender;
  border-radius: 0;
}

a:visited.dropdown-item {
  background-color: $lavender;
  color: $texthover;
}

a:hover.dropdown-item {
  background-color: $lavender;
  color: $texthover;
}

a:active.dropdown-item {
  background-color: $lavender;
}

.user-control {
  border: none;
  border-bottom: 2px solid $quartz;
}

#errorMsg {
  list-style: none;
  color: #B270A9;
}

/* Footer */
#aboutusfooter {
  background-color: $lavender;
  padding-top: 1em;
}

#creditsfooter {
  background-color: $quartz;
}

#flinks {
  text-decoration: none;
  color: $text;
}

a:hover#flinks {
  color: $texthover;
}

@media screen and (max-width: 650px) {
  .dropdown-menu {
    border: none;
  }
}

/* Assets */
img {
  pointer-events: none;
}

#submitFilter {
  margin-top: 1.5em;
}

#submitFilterButton {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 1em 2em;
  background-color: $lavender;
}

/* Menu admin */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuInside {
  list-style-type: none;
}